<h1>Create new link</h1>

<form action='/links/new' method='post'>
  <p>Enter URL: <input type='text' name='url'></p>
  <p>Enter title: <input type='text' name='title'></p>
  <p>Enter tags: <input type='text' name='tags'></p>
  <button type='submit'>Create link</button>
</form>
